# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* List popular languages for Data Science
* List libraries commonly used by data Scientists
* List Data Science Tools
* Show examples of arithmetic operation

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. NumPy
3. Matplotlib

|Data Science Tools|
|----------|
|Anaconda|
|Github|
| R studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Bielka Pena